<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inappstory.sdk.ugc">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:forceDarkAllowed="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">

        <activity
            android:hardwareAccelerated="true"
            android:name=".editor.UGCEditor"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:hardwareAccelerated="true"
            android:name=".editor.FileChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />


    </application>
</manifest>