<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:requestLegacyExternalStorage="true"
        android:forceDarkAllowed="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.inappstory.sdk.ugc.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ugc_provider_path" />
        </provider>

        <activity
            android:hardwareAccelerated="true"
            android:name=".editor.UGCEditor"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/UGCAppTheme.Transparent" />

        <activity
            android:hardwareAccelerated="true"
            android:name=".picker.FileChooseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/UGCAppTheme.Transparent" />

        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>
    </application>
</manifest>