<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inappstory.sdk.ugc">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:requestLegacyExternalStorage="true"
        android:forceDarkAllowed="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">

        <activity
            android:hardwareAccelerated="true"
            android:name=".editor.UGCEditor"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/UGCAppTheme.Transparent" />

        <activity
            android:hardwareAccelerated="true"
            android:name=".picker.FileChooseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/UGCAppTheme.Transparent" />


    </application>
</manifest>